
body {
background-color: #fafafa;
}

.transition-fadeIn-appear {
  opacity: 0.01;
}

.transition-fadeIn-appear.transition-fadeIn-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.transition-fadeOut-appear {
  opacity: 1;
  background-color: ff0000;
}

.transition-fadeOut-appear.transition-fadeOut-appear-active {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.element-table-number
{
	font-size: 10px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	text-align: left;
}

.element-table-symbol
{
	font-size: 13px;
	text-align: center;
}

.element-table-mass
{
	font-size: 10px;
	margin-top: 0px;
	padding-top: 0px;
	text-align: center;
}

.periodicTable
{
	white-space:nowrap;
}


.btn
{
  -webkit-box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.75);
}

.btn:hover{
  opacity: 0.7;
}

/* Navbar - Top */

.btnTop
{
  margin-left: 5%;
  margin-right: 5%;
  text-decoration: none;
}

.btnTop:hover
{
  color: #fff;
  font-style:normal;
  text-decoration: none;
}


.glyphicon{
  font-size: 20px;
  color: #ddd;
}

.glyphicon:hover
{
  color: #fff;
  font-style:normal;
}

.navParent
{
  border: 1px solid #000;
  width: 100%;
}

.navCenter
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navTop
{
  background-color: #333;
  height: 45px;
}

.navBottom
{
  background-color: #222;
  height: 35px;
  color: #ddd;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  border: 1px solid #222;
}

.navText
{
  font-family: 'Roboto', sans-serif;
  margin-left:5px;
  margin-bottom: 5px;
  padding-bottom: 15px;
  font-size: 12px;
  font-weight: bold;
  color: #888;
  font-style: normal;
  height: 100%;
  vertical-align: middle;
}

.navText:hover
{
  color: #fff;
  font-style:normal;
}
