.transition-fadeIn-appear {
  opacity: 0.01;
}

.transition-fadeIn-appear.transition-fadeIn-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.transition-fadeOut-appear {
  opacity: 1;
  background-color: ff0000;
}

.transition-fadeOut-appear.transition-fadeOut-appear-active {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.element-table-number
{
	font-size: 10px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	text-align: left;
}

.element-table-symbol
{
	font-size: 13px;
	text-align: center;
}

.element-table-mass
{
	font-size: 10px;
	margin-top: 0px;
	padding-top: 0px;
	text-align: center;
}

.btn
{
	display:inline-block;
  width: 4.5%;
  height: 6.5%;
  position: absolute;
  margin: 0px;
  padding: 0.5%;
}

.element-placeholder
{
	display:inline-block;
  width: 5%;
	height: 5px;
	display: inline-block;
}

.periodicTable
{
	white-space:nowrap;
}

.glyphicon{
  font-size: 20px;
}

.navText
{
  margin-left:5px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
}

/*
  This centers nav content
  http://stackoverflow.com/questions/18777235/center-content-in-responsive-bootstrap-navbar
*/

.navbar .navbar-nav {
  display: inline-block;
  vertical-align: top;
}

.navbar .navbar-collapse {
  align-content: center;
}

/*This disables navbar collapse
 Taken from : http://stackoverflow.com/questions/23535289/bootstrap-3-disable-navbar-collapse
*/
.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}
